.appBar {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 0 150px; */
  margin: 0 auto;

  background-color: rgba(228, 250, 133, 0.795);
  box-shadow: 0 2px 4px 0px rgba(9, 145, 16, 0.77);
}
