.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.field {
  display: flex;
  flex-direction: column;
}

.label {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  color: #08831d;
}

.input {
  padding: 5px 10px;
  font-size: 16px;
  border: 1px solid #0a8f13;
  border-radius: 10px;
}

.input:focus {
  outline: none;
  border: 1px solid #30ce10;
  background-color: #e9ffd7;
}
.enter {
  opacity: 0;
  transform: scale(0.1);
}
.enterActive {
  opacity: 1;
  transform: scale(1);
  transition: all 250ms linear;
}

.exit {
  opacity: 1;
  transform: scale(1);
}

.exitActive {
  opacity: 0;
  transform: scale(0.1);
  transition: all 250ms linear;
}
