html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0 auto;
  /* padding: 15px 0; */
  background-color: #ecd3d3cb;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
