.wrapper {
  width: 100%;
  padding: 5px 15px;
}
.contactItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: 600;
  color: #099110;
}

.button {
  padding: 5px 10px;
  margin-right: 10px;
  max-width: 150px;
  align-self: center;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  background-color: #ec3d37;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: #df8484;
}
